<div class="text-start w-25">
    <form method="POST" action="/loggingin">
        <label for="Login" class="form-label">Log in</label><br>
        <div class="card p-3">
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input class="form-control" type="email" id="email" name="email" placeholder="example@email.com"
                    required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input class="mb-2 form-control" type="password" id="password" name="password" placeholder="password"
                    maxlength="20" required>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>