<div class="m-auto p-3 d-flex flex-column align-items-center gap-2">
    <h1>Welcome to the members page <%=name%>!</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% for (img of imagePaths) { %>
            <div class="col d-flex justify-content-center">
                <img src="/<%=img%>.png" alt="Dog" class="img-fluid rounded" style="width:250px; object-fit:cover;">
            </div>
        <% } %>
    </div>
    
    <% if (authorized) { %>
        <form method="GET" action="/admin">
            <button class="btn btn-primary" type="submit">Admin</button>
        </form>
        <% } %>
        <form method="POST" action="/logout">
            <button class="btn btn-primary" type="submit">Logout</button>
        </form>
</div>